{% extends "base.html.twig" %}

{% block body %}
<div class="container ">
    <h1 class="titlehobbie pb-4">Clubs sportifs</h1>
    <div class="row">      
        <div class="col-12 mb-4 text-center">
            <h1 class="font-italic">Football</h1>
            <img src="https://lcds-blog.s3.amazonaws.com/uploads/2017/07/ballon-football-1-840x400.jpg" class="rounded mx-auto d-block w-100" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, omnis hic beatae temporibus, ipsa neque quidem minus aliquid eaque enim earum quia, 
                ut similique vitae dolor eius excepturi odit sunt.</p>
        </div>
        <div class="col-12 mb-4 text-center">
            <h1 class="font-italic">Basket</h1>
            <img src="https://le-basket.fr/wp-content/uploads/2017/10/ballons-de-basket-nba-1-1000x500.jpg" class="rounded mx-auto d-block w-100" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, omnis hic beatae temporibus, ipsa neque quidem minus aliquid eaque enim earum quia, 
                ut similique vitae dolor eius excepturi odit sunt.</p>
        </div>
        <div class="col-12 mb-4 text-center">
            <h1 class="font-italic">Volley</h1>
            <img src="https://conseils.casalsport.com/wp-content/uploads/2019/04/composition-ballon-volley.jpg" class="rounded mx-auto d-block w-100" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, omnis hic beatae temporibus, ipsa neque quidem minus aliquid eaque enim earum quia, 
                ut similique vitae dolor eius excepturi odit sunt.</p>
        </div>
    </div>
</div>
{% endblock %}