{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1 class="titlehobbie">Voyages linguistique</h1><hr>
    <div class="row">   
        <div class="col-12 mb-4 text-center">
        <h1>Barcelone</h1>
        <img src="https://www.hghoteles.com/assets/img/gallery/sagrada-familia-barcelona-1.jpg" class="d-block w-100" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Labore, omnis hic beatae temporibus, ipsa neque quidem minus aliquid eaque enim earum quia, 
            ut similique vitae dolor eius excepturi odit sunt.</p>
        </div>
        <div class="col-12 mb-4 text-center">
        <h1>Berlin</h1>
        <img src="https://images7.alphacoders.com/430/thumb-1920-430791.jpg" class="d-block w-100" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Labore, omnis hic beatae temporibus, ipsa neque quidem minus aliquid eaque enim earum quia, 
            ut similique vitae dolor eius excepturi odit sunt.</p>
        </div>
        <div class="col-12 mb-4 text-center">
        <h1>Londres</h1>
        <img src="https://www.1zoom.me/big2/78/224621-Sepik.jpg" class="d-block w-100" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Labore, omnis hic beatae temporibus, ipsa neque quidem minus aliquid eaque enim earum quia, 
            ut similique vitae dolor eius excepturi odit sunt.</p>
        </div>
    </div>
</div>

{% endblock %}