{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-dark bg-primary mt-3"> Mon Calendrier </nav>
    <table class="calendar">
        <tr>
            <td>Lundi</td>
            <td>Mardi</td>
            <td>Mercredi</td>
            <td>Jeudi</td>
            <td>Vendredi</td>
            <td>Samedi</td>
            <td>Dimanche</td>
        </tr>
    </table>
    
{% endblock %}