{% extends "base.html.twig" %}

{% block body %}
    <h1>liste des fichiers à télécharger</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>N°</th>
            {#            <th>Titre</th>#}
            <th>Matière</th>
            <th>Description</th>
            <th>Fichier</th>
        </tr>
        </thead>
        <tbody>
        {% for lister in liste %}
            <tr>
                <td>{{ lister.id }}</td>
                <td>{{ lister.subject.name }}</td>
                <td>{{ lister.description }}</td>

                <td><a href="/files/lessons/{{ lister.files }}">Télécharger</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>

{% endblock %}