{% extends 'base.html.twig'%}

{% block body %}
<div class="container mb-5">

    <h1 class= "display-4 col-md-12">Matières</h1>
        <table class="table table-striped col-md-8 mt-5 mb-5 mx-auto">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Matière</th>
                <th scope="col">Coefficient</th>
                </tr>
            </thead>
            {% for subjects in subject %}
            <tbody>
                <tr>
                    <th scope="row">{{ subjects.id}}</th>
                    <td>{{ subjects.name}}</td>
                    <td>{{ subjects.coefficient}}</td>
                    <td><a class="btn btn-primary" href="">Modifier</a></td>
                    <td><a class="btn btn-danger" href="">Supprimer</a></td>
                </tr>
            </tbody>
            {% endfor %}

        </table>
        <form class="col-md-8 mx-auto" action="" method="post">
            <div class="form-group ">
                <label for="subject">Entrez une nouvelle matière</label>
                <input type="text" class="form-control" id="subject" name="subject">
                <label for="coefficient">Entrez un nouveau coef</label>
                <input type="number" class="form-control" id="coefficient" name="coefficient"> 
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary mb-3"> Valider </button>
            </div>
        </form>
    </div>
    


{% endblock %}